<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- the application context definition for the springapp DispatcherServlet -->

  <bean name="/index.xhtml" class="be.helha.groupe3.controllers.ProduitBeanController"/>
  <bean name="/creer-produit.xhtml" class="be.helha.groupe3.controllers.ProduitBeanController"/>
  <bean name="/tous-les-produits.xhtml" class="be.helha.groupe3.controllers.ProduitBeanController"/>
</beans>